.container#profile_conteiner{data: {profile_id: @profile.id}}
  .profile_header
    %a(href="#") ←
    .your_name
    - if @profile&.nickname&.present?
      = @profile&.nickname
    - else
      = current_user.name
    - if current_user.profile&.avatar&.attached?
      .your_img
      = image_tag current_user.profile.avatar, id: 'your-img'
    - else 
      .your_img 
      = image_tag 'default-avatar.png', id: 'your-img'
  #overlay
    #modalWindow
      .modal-message-box
        = form_with(model: @profile, url: profile_path, method: 'put', id: 'profile-form', local: true) do |f|
          .form_item 
            = f.label :nickname, 'Your Name', class: 'form_ttl'
          .form_item
            = f.text_field :nickname, class: 'form_txt', id: 'nickname-form'
          .form_item 
            = f.label :avatar, 'Your Image', class: 'form_ttl'
          .form_item  
            = f.file_field :avatar, class: 'form_avatar', id: 'yourimg-form'

          = f.submit '保存', class: 'btn_primary', id: 'submit-btn'
          %button#modal-close-btn cancel
  %ul.your_status
    %li
      %p 44
      %h3 Posts
    %li
      %p 100
      %h3 Followers
    %li
      %p 44
      %h3 Followings
