.container
  %a#modalopen
    %i.fas.fa-camera.post_new_btn
  .post_items
  - @posts.each do |post|
    .post_item#post_show{data: {post_id: post.id}}
      .post_item_header
        .post_user
          .avatar_field
            = image_tag current_user.profile.avatar, class: 'post_user_avatar'
          .post_user_right
            .name_field
              = current_user.name
            .timestamp
              = post.user.created_at
            %i.fas.fa-ellipsis-v.post_setting
              .dropdown_content_mini
                %li
                  = link_to '削除する', post_path(post.id), method: :delete
      .post_img_field
        - if post.images.attached?
          = image_tag post.images[0], class:'post_img_first'
          = image_tag post.images[1], class:'post_img_second'
          = image_tag post.images[2], class:'post_img_third'
      .post_icon_field
        - if user_signed_in? && current_user.has_liked?(post)
          .heart_btn.hidden.offheart{id: "#{post.id}"}
            = image_tag 'offheart.png'
          .heart_btn.onheart{id: "#{post.id}"}
            = image_tag 'onheart.png'
        - else
          .heart_btn.offheart{id: "#{post.id}"}
            = image_tag 'offheart.png'
          .heart_btn.hidden.onheart{id: "#{post.id}"}
            = image_tag 'onheart.png'
        .comment_btn 
          = link_to image_tag('comment.png'), post_comments_path(post.id)
        .share_btn
          = link_to image_tag('share.png'), "https://twitter.com/share?url=#{ request.url }&text=#{ post.user.name }さんの投稿を、Twitterでみんなに広めよう！", title: 'Twitter', target: '_blank'
      .post_item_bottom
        %p.like_counts
          #{post.like_count}いいね
        .content_field
          .post_user_name
            = post.user.name
          %p.post_content
            = post.content
  #overlay
    #modalWindow
      .modal-message-box.post_modal
        = form_with(model: @posts, url: posts_path, method: 'post', id:'post-form') do |f|
          %a#modal-close-btn.post_modal_closebtn Cancel
          %p.page_ttl Status
          .post_modal_btn_field
            = f.submit 'Post', class: 'post_btn'
          .post_modal_avatar_field
            = image_tag current_user.profile.avatar, class: 'post_user_avatar'
          .post_modal_name_field
            = current_user.name
          = f.text_field :content, :placeholder => "What's on your mind ?", class: 'post_content_form'
          = f.label :images, "+Album", class: 'img_input_btn'
          = f.file_field :images, class: 'post_img_form', multiple: true
  