.container
  %i.fas.fa-camera.post_new_btn
  .post_items
    .post_item
      .post_item_header
        .post_user
          .avatar_field
            = image_tag current_user.profile.avatar, class: 'post_user_avatar'
          .post_user_right
            .name_field
              = current_user.name
            .timestamp
              3hours ago
      .post_item_inner
        .post_img
          = image_tag 'sample.png'
        %a.post_like
          %i.far.fa-heart
        %a.post_comment_btn
          %i.far.fa-comment
        %a.post_share
          %i.fas.fa-share-alt
      .post_item_bottom
        .like_counts
          test and 12,000 other liked your post
        .content_field
          .post_user_name
            test_user_ctnt
          %p.post_content
            てすとてすとてすとてすとてすとてすとてすとてすとてすとてすとてすとてすとてすとてすと
  #overlay
    #modalWindow
      .modal-message-box.post_modal
        = form_with(model: @post, url: posts_path, method: 'post', id:'post-form', local: true) do |f|
          %a#modal-close-btn.post_modal_closebtn Cancel
          %p.page_ttl Status
          .post_modal_btn_field
            = f.submit 'Post', class: 'post_btn'
          .post_modal_avatar_field
            = image_tag current_user.profile.avatar, class: 'post_user_avatar'
          .post_modal_name_field
            = current_user.name
          = f.text_field :content, :placeholder => "What's on your mind ?", class: 'post_content_form'
          = f.label :image, "+Album", class: 'img_input_btn'
          = f.file_field :image, class: 'post_img_form'